SESSION=CASPER-XD-ULTRA;paste_your_session_id_here
OWNER_NUMBERS=254xxxxxxxxx,254xxxxxxxxx
OWNER_NAME=XyrooRynzz
BOT_NAME=CASPER-XD ULTRA
BOT_MODE=public
PREFIX=.
TIMEZONE=Africa/Nairobi
WELCOME=false
ADMIN_EVENT=false
AUTO_VIEW=false
AUTO_REACT=false
PACK_NAME=CASPER-XD ULTRA
STICKER_AUTHOR=© XyrooRynzz
PORT=5000
